[submodule "MobilizeSpa/payroll_analytic_account"]
	path = MobilizeSpa/payroll_analytic_account
	url = git@github.com:MobilizeSpa/payroll_analytic_account.git
	branch = master

[submodule "MobilizeSpa/l10n_cl_hr_payroll_account"]
	path = MobilizeSpa/l10n_cl_hr_payroll_account
	url = git@github.com:MobilizeSpa/l10n_cl_hr_payroll_account.git
	branch = master

[submodule "MobilizeSpa/l10n_cl_hr"]
	path = MobilizeSpa/l10n_cl_hr
	url = git@github.com:MobilizeSpa/l10n_cl_hr.git
	branch = master

[submodule "MobilizeSpa/hr_payroll_cancel"]
	path = MobilizeSpa/hr_payroll_cancel
	url = git@github.com:MobilizeSpa/hr_payroll_cancel.git
	branch = master

[submodule "MobilizeSpa/MobilizeCL"]
	path = MobilizeSpa/MobilizeCL
	url = git@github.com:MobilizeSpa/MobilizeCL.git
	branch = master_mobilze

[submodule "MobilizeSpa/addons_3ros_v12"]
	path = MobilizeSpa/addons_3ros_v12
	url = git@github.com:MobilizeSpa/addons_3ros_v12.git
	branch = master

[submodule "RetargetingCL/BI_Report"]
	path = RetargetingCL/BI_Report
	url = git@github.com:RetargetingCL/BI_Report.git
	branch = master

[submodule "RetargetingCL/bi_view_editor"]
	path = RetargetingCL/bi_view_editor
	url = git@github.com:RetargetingCL/bi_view_editor.git
	branch = master
